.prizes-component{
  display: flex;
  background-color: rgb(34, 129, 238);
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: large;
  color: rgb(250, 246, 246);
}
